

/* global */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, p, a{
  font-family: 'open sans';
}

input, textarea, button, .contact-textbox{
  color: #000;
  border-radius: 5px;
}

::placeholder {
  color: #000;
  opacity: 1;
}

.wrapper {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.green {
  background-color: #178A27;
  color: #fff;
}

.blue {
  background-color: #1686C1;
  color: #fff;
}

.red {
  background-color: #852406;
  color: #fff;
}

.transparent {
  background: rgba(255,255,255,0.4);
}

.btn {
  border: 1px solid #cdcdcd;
  border-radius: 10px;
  font-size: 18px;
  padding: 10px 30px;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.3s ease;
}




/* nav */

.nav-bar {
  position: fixed;
  width: 100%;
  z-index: 500;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 77px;
  background-color: #383E4C;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  padding: 10px 20px;
  list-style-type: none;
  border: 2px solid #646D7C;
  margin: 0 10px;
  cursor: pointer;
}

nav ul li a {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
}


/* header */

header {
  position: relative;
  background: url("https://images.pexels.com/photos/380/forest-meadow-leaves-autumn.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat center center fixed;
  height: 614px;
}

header .main {
  position: relative;
  text-align: center;
  width: 100%;
  color: #fff;
  top: 50%;
  transform: translateY(-50%);
}

header .main h1 {
  font-size: 65px;
  text-shadow: 1px 1px 1px #000;
  text-transform: uppercase;
  font-weight: 200;
}

header .main p {
  text-align: center;
  text-shadow: 1px 1px 1px #000;
  font-size: 26px
}


/* 3-columns  */

.gridwrapper_1 {
  display: grid;
  padding-top: 70px;
  grid-template-columns: 360px 360px 360px;
  justify-content: center;
  min-height: 500px;
  grid-gap: 40px;
}

.three-images img {
  width: 100%;
  height: 180px
}

.three-images h3 {
  padding: 20px 5px 10px 5px;
  margin: 0 auto;
  text-align: left;
}

.three-images p {
  padding: 20px 5px 10px 5px;
  margin: 0 auto;
  text-align: left;
}


/* 2-columns */

.gridwrapper_2 {
  display: grid;
  padding-top: 60px;
  grid-template-columns: 560px 560px;
  justify-content: center;
  grid-gap: 40px;
  min-height: 700px;
}

.gridwrapper_2 img {
  width: 100%;
  height: 240px
}

.gridwrapper_2 h3 {
  text-align: center;
  padding: 20px 0 30px;
}

.gridwrapper_2 p {
  padding: 0px 30px;
  text-align: justify;
}

.gridwrapper_2 button {
  margin: 20px 0px 20px 30px;
}


/* Services banner */

.banner {
  position: relative;
  background:url("https://images.pexels.com/photos/258112/pexels-photo-258112.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")no-repeat center center fixed;
  background-size: cover;
  height: 320px;
}

.banner .banner-text {
  position: relative;
  text-align: center;
  margin: 0 auto;
  width: 60%;
  color: #fff;
  top: 50%;
  transform: translateY(-50%);
}

.banner .banner-text h1 {
  font-size: 35px;
  text-shadow: 1px 1px 1px #000;
  font-weight: 300;
  padding: 10px 0 20px 0;
}

.banner .banner-text p {
  font-size: 20px;
  text-shadow: 1px 1px 1px #000;
}

/* 4-column section */

.gridwrapper_3 {
  display: grid;
  padding-top: 60px;
  grid-template-columns: 260px 260px 260px 260px;
  justify-content: center;
  grid-gap: 30px;
  min-height: 700px;
}

.gridwrapper_3 img {
  width: 100%;
  height: 260px;
}

.gridwrapper_3 h2 {
  text-align: center;
  padding: 20px 0 20px 0
}

.gridwrapper_3 button {
  margin-top: 30px;
}


/* Big-column */

.gridwrapper_4 {
  display: grid;
  padding-top: 60px;
  grid-template-columns: 1140px;
  justify-content: center;
  grid-gap: 30px;
  min-height: 950px;
}

.gridwrapper_4 .big-column img{
  width: 100%;
  height: 434px;
}

.gridwrapper_4 .big-column h2 {
  padding: 40px 0 10px 0;
}

.gridwrapper_4 .big-column button {
  margin-top: 30px;
}


/* Contact */
.contact {
  position: relative;
  background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("https://images.pexels.com/photos/205002/pexels-photo-205002.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")no-repeat center center fixed;
  background-size: cover;
  height: 675px;
}

.contact h1 {
  font-size: 35px;
  text-shadow: 1px 1px 1px #000;
  font-weight: 300;
  color: #fff;
  text-align: center;
  padding: 90px 0 20px 0;
}

.contact .contact-textbox {
  position: relative;
  max-width: 750px;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}


.gridwrapper_5 {
  display: grid;
  grid-template-columns: auto 360px 360px;
  grid-template-rows: 100px 40px 40px 40px 55px 40px;
  justify-content: center;
  grid-auto-flow: row dense;
  grid-gap: 1.5em;
  padding: 1.2em;
}

.gridwrapper_5 .contact-textbox {
  grid-column: 2 / 4;
}

.gridwrapper_5 input,
.gridwrapper_5 button {
  grid-column: 2;
  grid-row: auto;
  padding: 1em;
  border: none;
}
.gridwrapper_5 textarea {
  padding: 10px;
  resize: none;
  grid-column: 3;
  grid-row: span 3;
  width: 100%;
  border: none;
}

.gridwrapper_5 button {
  grid-column: 2 / 4;
  background-color: #111;
  color: #fff;
  border: 1px solid #fff;
}

/* footer */

footer {
  position: relative;
  height: 200px;
  text-align: center;
}

footer .footer-textbox {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}



/* media queries */

@media only screen and (max-width: 1185px) {

  /* 3 columns */
  .gridwrapper_1 {
    grid-template-columns: 293px 293px 293px;
  }

  .three-images img {
    height: 146px
  }

  /* 2 columns */
  .gridwrapper_2 {
    grid-template-columns: 455px 455px;
  }

  .gridwrapper_2 img {
    height: 196px
  }

  /* 4 columns to 2 columns */
  .gridwrapper_3 {
    grid-template-columns: 260px 260px;
    grid-gap: 100px;
  }

  .gridwrapper_4 {
    grid-template-columns: 940px;
  }

  .gridwrapper_4 .big-column img{
    height: 358px;
  }
}



@media only screen and (max-width: 980px) {

  /* navbar */
  nav ul li a {
    font-size: 16px;
  }

  /* 3 columns */
  .gridwrapper_1 {
    grid-template-columns: 220px 220px 220px;
  }

  .three-images img {
    height: 110px
  }

  /* 2 columns */
  .gridwrapper_2 {
    grid-template-columns: 345px 345px;
  }

  .gridwrapper_2 img {
    height: 149px
  }

  /* 4 columns to 2 columns */
  .gridwrapper_3 {
    grid-template-columns: 260px 260px;
    grid-gap: 100px;
  }


  /* big-column */
  .gridwrapper_4 {
    grid-template-columns: 720px;
  }

  .gridwrapper_4 .big-column img{
    height: 274px;
  }
}

@media only screen and (max-width: 750px) {

  /* navbar */
  nav ul li a {
    font-size: 16px;
  }

  /* 3 columns */
  .gridwrapper_1 {
    grid-template-columns: 360px;
  }

  .three-images img {
    height: 180px
  }

  /* 2 columns */
  .gridwrapper_2 {
    grid-template-columns: 555px;
  }

  .gridwrapper_2 img {
    height: 240px
  }

  /* 4 columns to 2 columns */
  .gridwrapper_3 {
    grid-template-columns: 260px 260px;
    grid-gap: 100px;
  }


  /* big-column */
  .gridwrapper_4 {
    grid-template-columns: 640px;
  }

  .gridwrapper_4 .big-column img{
    height: 267px;
  }
}
